@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap");

.sectionContainer {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.experienceSection {
  width: 100%;
  max-width: 1200px;
}

.experienceSectionImg {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.experienceSectionImgMobile {
  display: none;
}

.experienceSectionContainer {
  width: 90%;
  margin: auto;
}

.experienceDescription {
  max-width: 600px;
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 15px;
}

.titleExperience {
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 60px;
  font-family: "Akira Expanded", "Menlo", "poppins";
  font-size: 50px;
  color: #000000;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 100px;
  border-top: 1px solid #c9c9c9;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 40px;
}

.project:last-of-type {
  border-bottom: 1px solid #c9c9c9;
}

.project:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.project:hover h3 {
  transform: translateX(10px);
  color: #000000;
}

.project:hover p {
  transform: translateX(10px);
}

.project h3 {
  font-size: 30px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
  font-family: "Akira Expanded", "Menlo", "poppins";
  color: #000000;
}

.project p {
  transition: all 0.4s;
  font-weight: 400;
}

.titleList {
  font-size: 50px;
  margin: 0 0 10px 0;
  font-family: "Akira Expanded", "Menlo", "poppins";
  color: #000000;
}

.experienceSubTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.experienceSectionImgContainer {
  flex-shrink: 0;
}
.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal img {
  height: auto;
}
.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455ce9;
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}
.cursorLabel {
  background-color: transparent;
}
@media (max-width: 900px) {
  .sectionContainer {
    padding: 40px 0;
  }

  .titleExperience {
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 35px;
  }

  .experienceSectionImgMobile {
    width: 45px;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .experienceSubTitle {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .project {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 50px;
    border-top: 1px solid #c9c9c9;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 20px;
  }

  .project:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .titleList {
    font-size: 30px;
    margin: 0;
  }

  .experienceDescription {
    max-width: 100%;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 10px;
  }

  .experienceSectionImg {
    display: none;
  }

  .experienceSectionImgContainer {
    display: none;
  }
}
