@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap");

.sectionContainer {
  display: flex;
  justify-content: center;
}
.experienceSection {
  width: 100%;
}
.experienceSectionImg {
  width: 100px;
}
.experienceSectionImgMobile {
  display: none;
}
.experienceSectionContainer {
  width: 90%;
  margin: auto;
}

.experienceDescription {
  width: 400px;
  color: #aeaeae;
  font-family: "Work Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.6;
}
.titleExperience {
  font-weight: 400;
  margin-left: 20px;
  font-family: "Akira Expanded", "Menlo", "poppins";
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid #c9c9c9;
  cursor: pointer;
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid #c9c9c9;
}
.project:hover h3 {
  transform: translateX(-10px);
}
.project:hover p {
  transform: translateX(10px);
}
.project h3 {
  font-size: 30px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
  font-family: "Akira Expanded", "Menlo", "poppins";
}
.project p {
  transition: all 0.4s;
  font-weight: 300;
}
.titleList {
  font-size: 50px;
  margin: 0px;
  font-family: "Akira Expanded", "Menlo", "poppins";
}
.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal img {
  height: auto;
}
.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455ce9;
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}
.cursorLabel {
  background-color: transparent;
}
@media (max-width: 900px) {
  .titleExperience {
    font-weight: 350;
    margin-left: 20px;
  }
  .experienceSectionImgMobile {
    width: 45px;
    display: flex;
    margin-right: 20px;
  }
  .experienceSubTitle {
    display: flex;
  }
  .sectionContainer {
    width: 100vw;
  }
  .project {
    display: flex;
    padding: 10px 10px 10px 50px;
    border-top: 1px solid #c9c9c9;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 15px;
  }
  .titleList {
    font-size: 30px;
  }
  .experienceDescription {
    width: 95%;
    font-family: "Work Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
  }
  .experienceSectionImg {
    display: none;
  }
  .experienceSection h1 {
    font-size: 35px;
  }
}
