.section1 {
    width: 100vw;
    height: 100vh;
    background: #d2fcd7;
    padding-top: 50px;
}

.section2 {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    padding-top: 50px;
}

.section3 {
    width: 100vw;
    height: 100vh;
    background: #f4c8ff;
    padding-top: 50px;
}

.section4 {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    padding-top: 50px;
}

.section-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}