@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@font-face {
  font-family: 'Akira Expanded';
  src: url('/assets/fonts/akira_bold-webfont.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Akira Expanded', Menlo, poppins;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
